* {
  box-sizing: border-box;
}

.carousel-wrapper {
  width: 500px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.carousel-wrapper > .carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.carousel-wrapper > .carousel > img {
  width: 500px;
  height: 300px;
}
